<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<connectionStrings>
  <add name="DefaultCon" connectionString="Data Source=sbd\mssql; Initial catalog=Plotnickov_Exams;&#xD;&#xA;		 Integrated Security=True;"
   providerName="System.Data.SqlClient" />
  <add name="WindowsFormsApp1.Properties.Settings.Plotnickov_ExamsConnectionString"
   connectionString="Data Source=SBD\MSSQL;Initial Catalog=Plotnickov_Exams;Integrated Security=True;Encrypt=False"
   providerName="System.Data.SqlClient" />
 </connectionStrings>

</configuration>